body{
    font-family:monospace;
    background-repeat:no-repeat ;
    background-size:cover;
    background-color:azure;
    text-transform:capitalize ;
}
h1{
padding: 20px 0px;
border-radius: 10px;
background-color:#330033;
color:azure;
text-align:center;
font-size:20px;
}
h3{
padding: 20px 0px;
border-radius: 10px;
background-color:#001f3f;
color:azure;
text-align:center;
font-size:20px;
}

.circle
{
  border-radius:100px;
   
}
footer{
    
    text-align:right;
}
input{
    height:50px;
    width:310px;}
button
{
    background-color: #330033;
color:white;
height:50px;
width:80px;
}

.section {
color:azure;
background-size:cover;
 background-color: #001f3f;;
    padding: 15px;
    margin-bottom: 10px;
   border-style: outset;
     box-shadow: #000000 2px 5px 15px;
    text-shadow: white -1px -2px 0.3em; 
}.text{
    text-align:center;
 
   box-shadow: #000000 2px 5px 5px;
background-size:cover;
    color:azure;
 background-color:#001f3f;
    
    margin-bottom:5px;
}
.q{border:none;
border-radius:10px;
 }
a{
    
    color:azure;
}
.section:hover{
    background-color:burlywood;
color:white;};







