body{

}

h2{
font-size:50px;
}
p{
font-size:60px;
}
div{
    font-family:monospace;
    background-repeat:no-repeat ;
    background-size:cover;
    background-image: url("https://www.sololearn.com/Uploads/header.jpg");
    text-transform:capitalize ;
     width:1900px;
    
}
@keyframes flash2
{
    0% {background-color:#330033; transform: rotate(0deg);}
    2% {transform: rotate(20deg);}
    4% {transform: rotate(-20deg);}
    6% {transform: rotate(20deg);}
    8% {transform: rotate(-20deg);}
    10% {transform: rotate(0deg);}
    50% {background-color: black;}
    100% {background-color:orange;}
}


h1{
padding: 100px 0px;
border-radius: 10px;
background-color: #330033;
color:azure;
text-align:center;
font-size:80px;
 
}
li{
font-size:60px;
}


.circle
{
  border-radius:100px;
 }


footer{
    
    text-align:right;
}
input{
    height:50px;
    width:310px;}
button
{
    background-color: #330033;
color:white;
height:80px;
width:200px;
}

.section {
color:azure;
background-size:cover;
 
    padding: 15px;
    margin-bottom: 10px;
   border-style: outset;
   border-color:orange;
    
    text-shadow:-1px -2px 0.3rem skyblue; 
}
.text{
    text-align:left;
 
   background-image: url("https://www.sololearn.com/Uploads/header.jpg");
background-size:cover;
    color:azure;
 
    
    margin-bottom:5px;
}
.q{border:none;
border-radius:10px;
 }
a{
    text-decoration: none;
    color:azure;
}
footer{
font-size:30px;
}
input{
height:200px;
width:1500px;
}
.h1:hover{
    background-color:#001f3f;
color:white;}
animation: flash2 5s linear infinite;
